.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.herocontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;
}

.heroleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herotitle {
  font-size: 69px;
  font-weight: 800;
  color: var(--white-color);
  font-family: "Muller ExtraBold", sans-serif;
}

.herotitleWithIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.herotitleWithIcon span {
  font-size: 69px;
  font-weight: 800;
}

.herodescription {
  font-size: 20px;
  font-family: "Muller Thin", sans-serif;
  font-weight: 600;
  color: var(--gray-color);
  max-width: 430px;
  margin-top: 25px;
}

.herodescriptionHighlight {
  font-size: 20px;
  font-family: "Muller Thin", sans-serif;
  font-weight: 600;
  color: var(--white-color);
}

.heroprocess {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: start;
  text-align: center;
}

.heroprocess span {
  font-size: 20px;
  font-family: "Muller Thin", sans-serif;
  font-weight: 600;
  color: var(--gray-color);
}

.heroprocessImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.herocta {
  width: 100%;
  display: flex;
  align-items: start;
}

.herobuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 62px;
  background: var(--orange-gradient);
  border-radius: 100px;
  padding: 2px;
}

.herobuttonPrimary,
.herobuttonSecondary {
  width: 100%;
  border-radius: 100px;
  background-color: transparent;
  color: var(--white-color);
  font-size: 18px;
  font-family: "Muller Thin", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  position: relative;
}

.herobuttonSecondary {
  border-left: 2px solid transparent;
  background: var(--background);
}

.herobuttonText {
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.herodecorationFries {
  position: absolute;
  bottom: -50px;
  left: -100px;
  z-index: 1;
}

.herodecorationPizza {
  position: absolute;
  top: -80px;
  right: -100px;
  z-index: 1;
}
