.navbar {
    width: 100%;
    height: 8ch;
    background-color: #020b26;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    z-index: 50;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.navbar.dark {
    background-color: #020b26;
}

.navbar-logo img {
    width: 5rem;
    object-fit: contain;
    margin-right: 2rem;
}

.navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #757575;
    cursor: pointer;
    margin-right: 2rem;
}

.navbar-toggle .icon {
    font-size: 1.75rem;
}

.navbar-toggle.dark {
    color: #bdbdbd;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar-links.open {
    display: flex;
}

@media (min-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0;
        box-shadow: none;
    }
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .navbar-links ul {
        flex-direction: row;
        gap: 4rem;
        margin-top: 23px;
    }
}

.navbar-link {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #7c3aed;
}

.dark .navbar-link {
    color: #ffffff;
}

.dark .navbar-link:hover {
    color: #7c3aed;
}

.navbar-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .navbar-contact {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #7c3aed;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 23rem;
}

.contact-icon {
    color: #f5f5f5;
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.help-text {
    font-size: 0.875rem;
    color: #e0e0e0;
}

.phone-number {
    font-size: 1rem; 
    color: #ffffff;
    font-weight: 500;
}
