.navbar {
    width: 100%;
    height: 8ch;
    background-color: #153f5c;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    z-index: 50;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.navbar.dark {
    background-color: #153f5c;
}

.navbar-logo img {
    width: 5rem;
    object-fit: contain;
    margin-right: 2rem;
}

.navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #757575;
    cursor: pointer;
    margin-right: 2rem;
}

.navbar-toggle .icon {
    font-size: 1.75rem;
}

.navbar-toggle.dark {
    color: #bdbdbd;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-links {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar-links.open {
    display: flex;
}

@media (min-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        padding: 0;
        box-shadow: none;
    }
}

.navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .navbar-links ul {
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }
}

.navbar-link {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #979797; 
}

.dark .navbar-link {
    color: #ffffff;
}

.dark .navbar-link:hover {
    color: #979797; 
}

.navbar-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: auto;
}

@media (min-width: 768px) {
    .navbar-contact {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    padding: 0.75rem 0.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    
}

.contact-icon {
    color: #153f5c;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.help-text {
    font-size: 0.875rem;
    color: #153f5c;
}

.phone-number {
    font-size: 1rem;
    color: #153f5c;
    font-weight: 500;
   
}

@media (max-width: 767px) {
    .navbar-contact {
        display: none;
    }
}

.login-button {
    margin-left: 2ch;
    color: white;
    display: flex;
    align-items: center;
}

.login-button:hover {
    color: #979797; 
}

.theme-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.75rem;
}

.language-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
   
}

.language-button {
    background-color: #ffffff;
    color: #153f5c;
    border: none;
    border-radius: 20px;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    position: relative;
    
}

.language-button::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #153f5c;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.language-button:hover {
    transform: scale(1.05);
}

.language-button:focus {
    outline: none;
}

.language-button.active::after {
    left: calc(100% - 10px);
}

.language-toggle {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px; 
    color: white;
    justify-content: center; 

}

.admin-panel-button{

    margin-left: 5px;
}

.go-to-dashboard-button, .logout-button, .theme-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    gap: 0.5rem;
}

.go-to-dashboard-button:hover, .logout-button:hover, .theme-toggle:hover {
    color: #979797;
}

.go-to-dashboard-button .icon {
   margin-left: 0.5rem; 
}

.login-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 

@media (max-width: 767px) {
    .navbar {
        padding: 0 1rem;
       
    }

    .navbar-logo img {
        width: 4rem;
        margin-right: 1rem;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        
        width: 100%;
        background-color: #153f5c;
        padding: 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        align-items: flex-start;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-links ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0;
   
        width: 100%;
        text-align: left; 
    }

    .navbar-link {
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        display: block;
        width: 100%;
    }

    .navbar-link:hover {
        color: #979797;
    }

    .navbar-actions {
        display: flex;
        flex-direction: row; 
        gap: 1rem;
        justify-content: flex-end; 
        width: 100%;
        margin-top: 1rem;
    }

    .logout-button {
        display: flex;
        
        gap: 1rem;
        margin-left: 15px;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
    }

    .go-to-dashboard-button {
        display: flex;
        margin-left: 1000px; 
        gap: 1rem;
        justify-content: flex-end; 
        width: auto;
        margin-top: 1rem;
    }
    .language-toggle {
        position: absolute;
        top: 30px;
        right: 1rem;
        transform: translateY(-50%);
        display: flex;
        gap: 1rem;
    }

    .language-button {
        background-color: #ffffff;
        color: #153f5c;
        border: none;
        border-radius: 20px;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s ease;
    }

    .language-button:hover  {
        transform: scale(1.05);
    }

    .language-button:focus {
        outline: none;
    }

    
    .navbar-contact {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-left:150px;
        margin-top: -5rem;
        align-items: flex-end;
    }

   

}
