

.popular-item-container {
    margin: 10px; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;

}

.popular-item-container:hover {
    transform: scale(1.04);
}

.popular-item-container img {
    width: 100%;
    height: auto;
    max-width: 300px; 
    max-height: 300px;
    object-fit: cover; 
    border-radius: 10px; 
}

.popular-item-container h2 {
    margin: 15px 0 10px; 
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.popular-item-container b {
    font-size: 1.2rem;
    color: #000000;
}
