.dashboard-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;           
    background-color: #f0f0f0; 
  }

  .dark .dashboard-container{
   background-color: black;


  }
  
  .dashboard-content {
    text-align: center;      
    background-color: #fff;   
    padding: 20px;            
    border-radius: 10px;    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;       
  }

  .dark .dashboard-content{

    background-color: rgb(39 39 42 / 0.2);
  }
  
  .dash {
    font-size: 20px;
    font-weight: bold;
    
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dark .dash{
   
    color: white;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  