
ol{
    background-color: rgb(224, 54, 88);
    width: 400px;
    padding: 10px 10px 10px 10px;
    list-style: none;
}
li{
    background-color: rgb(187, 6, 43);
    padding: 10px;
    color: white;
    font-family: "Arial";
}
span{
    background-color: rgb(101, 9, 27);
    padding: 10px;
    margin-left: 10px;
}
