.list-container {
  width: 100%;
  height: auto;
}
 


.shoes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  height: auto;
  transition: 0.5s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  position: relative;
}

.card-information {
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 18px;
  margin: 5px 0;
  color: rgb(44, 44, 44);
  font-weight: 400;
}

.card p {
  font-size: 1.1rem;
  color: black;
  margin: 0;
  padding: 0;
}




.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;
}

