.navbar {
  padding: 1.5rem 0;
  border-bottom: 1px solid #f3f4f6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f2937;
}

.nav {
  display: none;
}

.navLink {
  border: none;
  background: none;
  font-size: 20;
  font-weight: 400;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #0b423b;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.iconButton:hover {
  color: #1c3a36;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .menuButton {
    display: none;
  }
}
