*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    border-collapse: collapse;
    
}
th{
    padding: 20px;
}
tr:nth-child(1){
    background-color: rgb(0, 144, 144);
    position: sticky;
    top: 0; 
}   
td{
    padding: 20px;
        
}
tr>td:nth-child(1){
    background-color: rgb(0, 144, 144);
    position: sticky;
    top: 0; 
}
