.bottom {
    background: var(--footer-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
}

.bottom_wrapper {
    max-width: 1252px;
    width: 100%;
}

.nav_collection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.nav_segment {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Muller Thin', sans-serif;
}

.nav_segment h3 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -2%;
}

.nav_segment a {
    color: var(--footer-gray-color);
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    letter-spacing: -2%;
}

.nav_segment a:hover {
    color: var(--white-color);
}

.contact_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.contact_digits {
    font-family: 'Muller Thin', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--orange-gradient);
    color: transparent;
    font-size: 20px;
    font-weight: 700;
}

.social_zone {
    display: flex;
    gap: 15px;
}

.social_icon {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    fill: url(#gradient);
}

.social_icon:hover {
    transform: scale(1.2);
}
.footer_logo {
    background: var(--orange-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 34px;
    letter-spacing: 0%;
    font-family: "Muller ExtraBold", sans-serif;
  }
  